*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
.AddFontSize{
  font-size: 16px;
  font-weight: 500;
}

.active-tab {
  background-color: #DBEAFE !important; /* Tailwind's bg-blue-100 */
  color: #1E40AF !important; /* Tailwind's text-blue-700 */
  border: none !important;
}

.inactive-tab {
  color: #4B5563 !important; /* Tailwind's text-gray-600 */
  border: none !important;
}

.inactive-tab:hover {
  background-color: #F3F4F6 !important; /* Tailwind's hover:bg-gray-100 */
}



/* Adjust carousel height for smaller screens */
@media (max-width: 768px) {
  .carousel-item img {
    height: 300px !important; /* Adjust height for small screens */
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 200px !important; /* Adjust height for extra small screens */
  }
}


/* Custom CSS for Navbar spacing */
@media (max-width: 767.98px) {
  .navbar-nav .nav-link {
    margin-bottom: 10px; /* Add space between stacked Nav links */
  }

  .navbar-collapse {
    padding-top: 10px; /* Add space above the collapsed Navbar content */
  }
}


/* Default styles */
.user-avatar {
  width: 40px;
  height: 40px;
  font-size: 18px;
}

/* Responsive styles for small screens */
@media (max-width: 767.98px) {
  .user-avatar {
    width: 30px; /* Smaller size for small screens */
    height: 30px; /* Smaller size for small screens */
    font-size: 14px; /* Smaller font size for small screens */
  }
}